<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div>
    <h1>Checkout</h1>

    <table class="table table-striped">
      <h1 class="title" ><centre>Your Items </centre></h1>
      <thead>
          <tr>
              <th scope="col">Cart</th>
              <th scope="col">Start Renting</th>
              <th scope="col">Return Item</th>
            </tr>
      </thead>

      <tbody>
          <tr>
              <td scope="row"> users.username </td>
          </tr>
      </tbody>
    <button type="submit" id="submitButton" class="btn btn-primary">Checkout</button>
  </div> 
</main>

<%- include ('../partials/footer') %>