<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div>
    <h1>Checkout</h1>

    <table class="table table-striped">
      <h1 class="title" ><centre>Your Courses </centre></h1>
      <thead>
          <tr>
              <th scope="col">Cart</th>
              <th scope="col">Choose a time to have item</th>
              <th scope="col">Current Items</th>
              <th scope="col"></th>
            </tr>
      </thead>

      <tbody>
        
      </tbody>
    <button type="submit" id="submitButton" class="btn btn-primary">Checkout</button>
  </div> 
</main>

<%- include ('../partials/footer') %>