<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div>
    <table class="table table-striped">
      <h1 class="title" ><centre>Your Checkout page </centre></h1>
      <thead>
          <tr>
              <th scope="col">Cart</th>
              <th scope="col">Rent Duration</th>
              <th scope="col">Return Time</th>
            </tr>
      </thead>

      <tbody>
          <tr>
            <th scope="row"> Macbook </td></th>
            <th scope="row"> 10 hours </td></th>
            <th scope="row"> Nov 10 at 11 am </td></th>
            <th scope="row"><button type="submit" id="submit_button" name = "course_id" class="btn btn-primary" >Checkout Item</button></td></th>
          </tr>
      </tbody>
  </div> 
</main>

<%- include ('../partials/footer') %>