<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<body>
<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <p>Return <a href="/home" style="color: black;">Home</a> </p>
    </div>
  </div>
</main>


<%- include ('../partials/footer') %>