<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<body>
<main>

  <style>
    body {
    background-color:  rgb(173, 168, 245, .2);
    }
</style>

  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h4><center> Return <a href="/home" style="color: black;">Home</a>  </center></h4>
    </div>
  </div>
</main>


<%- include ('../partials/footer') %>