<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class = "container">
    <h1>Home</h1>
    <!-- <form action="/search" method="GET">
      <label for="search" class="form-label"  >Search</label>
      <input type="text" class="form-control" id="search" name ="search">
      <button id="submit_button" class="btn btn-secondary" type="submit">Search</button>
    </form> -->
  </div>
</main>

<%- include ('../partials/footer') %>