<%- include ('../partials/header') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="col">
    </div>
    <div class="col-md-6 mx-auto justify-content-center">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" name="password" id="password" placeholder="Enter Password">
            </div>
            <div class="d-flex align-items-center">
                <div>Don't have an account? <a href="/register">Register</a></div>
            </div>
            <hr>
            <div>
              <button type="submit" class="btn btn-primary">Login</button>

            </div>
        </form>
    </div>
  </div>
</main>


<script>
      localStorage.clear();
</script>


<%- include ('../partials/footer') %>