<%- include ('../partials/header') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Welcome.</h1>
    <h1>Please Login:</h1>
    <form action="/login" method="POST">
      <p> Username: <input id = "username" name = "username"></p>
      <p>Password: <input id = "password" name = "password"></p>
      <table>
        <tr>
            <td width = 300>
                <p>Don't have an account? <a href="/register">Register</a> </p>
            </td>
            <td>
                <button 
                type = "submit" 
                class="btn btn-primary"
                >Login</button>
            </td>
        </tr>  
      </table>
   </form>
  </div>
</main>

<%- include ('../partials/footer') %>