<%- include ('../partials/header') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Welcome.</h1>
    <h1>Please Login:</h1>
    <form action="/login" method="POST">
      <p> Username: <input id = "username" name = "username"></p>
      <p>Password: <input id = "password" name = "password"></p>
   <button type="submit" id="submitButton" class="btn btn-primary">Login</button>
   </form>
  </div>
</main>

<%- include ('../partials/footer') %>