<%- include ('../partials/header') %>

<main>
    <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Register</h1>
    <form action="/register" method="POST">
        <p> Username: <input id = "username" name = "username"></p>
        <p>Password: <input id = "password" name = "password"></p>
        <table>
          <tr>
              <td width = 300>
                  <p>Already have an account? <a href="/login">Login</a> </p>
              </td>
              <td>
                  <button 
                  type = "submit" 
                  class="btn btn-primary"
                  >Register</button>
              </td>
          </tr>  
        </table>
     </form>
  </div>
</main>

<%- include ('../partials/footer') %>