<header>
  <link rel="stylesheet" href="../../resources/css/style.css">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">

          <ul class="navbar-nav me-auto" >
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class = "nav-link" href="/home"> Home</a>
            </li>
            <!-- spacing, it looked too cramped -->
            <p> &nbsp &nbsp</p>
            <li class = "nav-item">
              <form class="d-flex" role="search" action="/search" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"id="search" name ="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>


          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class = "nav-link" href="/profile"> Profile</a>
            </li>

            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class = "nav-link" href="/Cart"> Cart</a>
            </li>

            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class = "nav-link" href="/Search"> Search</a>
            </li>

            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class = "nav-link" href="/logout"> Logout</a>
            </li>
          </ul>


          <!-- <div class="nav-item me-1" style="position: centre;"> -->
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <!-- <a href="/profile" style="color: black;">Profile</a> -->
          <!-- </div>  -->

        <!-- <div class="nav-item me-1" style="position: centre;"> -->
          <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
              <!-- <a href="/cart" style="color: black;">Cart</a> -->
        <!-- </div>  -->


        <!-- <div class="nav-item me-1" style="position: centre;"> -->
          <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
              <!-- <a href="/search" style="color: black;">Search</a> -->
        <!-- </div> -->
        
        <!-- <div class="nav-item me-1" style="position: centre;"> -->
          <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
              <!-- <a href="/logout" style="color: black;">Logout</a> -->
        <!-- </div> -->

        
      </div>
    </div>
  </nav>
 </header>