<header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">

          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->


                <a href="/home" style="color: black;"> Home </a>

            </li>
          </ul>

          <div class="nav-item me-1" style="position: centre;">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <a href="/profile" style="color: black;">Profile</a>
          </div> 

          <div class="nav-item me-1" style="position: centre;">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <a href="/checkout" style="color: black;">Checkout</a>
          </div> 


          <div class="nav-item me-1" style="position: centre;">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <a href="/search" style="color: black;">Search</a>
          </div>
          <div class="nav-item me-1" style="position: centre;">
                <a href="/items" style="color: black;">Items</a>
          </div>

          
          <div class="nav-item me-1" style="position: centre;">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <a href="/logout" style="color: black;">Logout</a>
          </div>

          
        </div>
      </div>
    </nav>
   </header>